<footer id="footer" class="footer">
	<div class="footer-items" id="name"> Aayush Singh </div>
	<div class="footer-items"><b> | </b></div>
	<div class="footer-items"><a href="mailto:nugget56.dev@gmail.com"> <img id="mail" src="images/icons/envelope-at-fill.svg" alt="Email"> </a></div>
	<div class="footer-items"><b> | </b></div>
	<div class="footer-items"><a href="https://github.com/Nugget-56" target="_blank"> <img id="github" src="images/icons/github-mark.svg" alt="Github"> </a></div>
	<div class="footer-items"><b> | </b></div>
	<div class="footer-items"><a href="https://www.linkedin.com/in/aayushsingh56/" target="_blank"> <img id="linkedin" src="images/icons/linkedin.svg" alt="LinkedIn"> </a></div>			
</footer>